/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


// #region GLOBAIS
.global-light-theme {
    --text-color: #212529;
    --background-gradient: linear-gradient(145deg, #fff, #dcbfdc, #c65ac6);
}

.global-dark-theme {
    --text-color: #ffffff;
    --background-gradient: linear-gradient(145deg, #38283e, #380f36, #3e0028);
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--background-gradient);
    color: var(--text-color);
}

// #endregion GLOBAIS


// #region PROJETO



// #endregion PROJETO